body {
    width: 1500px;
    height: 600px;
    margin: 0 auto;
}

.Menu {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: rgb(9, 78, 9);
    z-index: 2;
}

#Michi {
    font-size: 70px;
    font-style: italic;
    color: aliceblue;
    position: sticky;
}


#txt {
    font-style: italic;
    margin-top: 15px;
    position: sticky;
}

.contenedores {
    max-width: 1500px;
    min-height: 500px;
}

.Menu h1 {
    margin: 0 100px;
}

.slider-container {
    display: flex;
    width: 100%;
    height: 50vh;
    overflow-x: scroll;
}

.slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
}

.introduccion {
    text-align:justify;
    font-size: 22px;
    font-style:normal;
    margin: 10px;
}

.tabla {
    margin-top: 10px;
}

.tabla a{
    color: rgb(0, 2, 0);
    font-size: 20px;
}
.urls h3{
    font-size: 28px;
    color: forestgreen;
    
}

.urls img{
    width: 250px;
    height: auto;
    margin: auto;
    border: 1px solid;
    color:rgb(9, 78, 9);
}

#cat{
    font-size: 50px;
    font-style: oblique;
    color: white;
    background-color: green;
    width: 1150px;
    text-align: center;
}

.Razas h2{
    font-size: 40px;
    font-style: italic;
}

.Razas img{
    width: 400px;
    height: auto;
    margin: auto;
    border: 1px solid;
    right: -380px;
    border-radius: 2%;
    position: relative;

}

.Razas p{
    text-align:justify;
    font-size: 22px;
    font-style:normal;
    width: 1100px;
}

.Datos {
    float:right ;
    width: 300px;
    z-index: 1;
    border: solid greenyellow;
    margin: 5px;
    align-items: flex-start;
    margin-top: -300%;
}

.Datos h3{
    font-size: 40px;
    font-style: oblique;
    text-align: center;
    color: rgb(3, 132, 3);
}

.Datos ol{
    text-align:justify;
    font-size: 18px;
    font-style:normal;
}

.Datos li{
    margin: 10%;
}

.pie {
    background-color: rgb(4, 83, 9);
}
#pie2 {
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    margin: auto;
    padding-top: 4%;
}

#pie3 {
    font-size: 18px;
    color: aliceblue;
    margin-left: 500px;
    margin-right: 500px;
    padding-bottom: 4%;
}